body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-image: url('/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Für absolute Positionierung */
  overflow: hidden; /* Verhindert Überlauf */
}

h1 {
  color: #333;
  font-family: Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.apple-button {
  background: linear-gradient(135deg, rgba(0, 122, 255, 0.7), rgba(0, 191, 255, 0.5)); /* Blauer Farbverlauf */
  border: none; /* Kein sichtbarer Rand */
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute; /* Ermöglicht Bewegung */
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Leichter Schatten */
  mix-blend-mode: difference; /* Dynamischer Effekt mit Hintergrund */
}

.apple-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, transparent 70%);
  border-radius: 25px;
  transform: translate(-50%, -50%);
  z-index: -1; /* Hintergrund bleibt sichtbar */
}

.button-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.apple-button:hover {
  background: linear-gradient(135deg, rgba(0, 122, 255, 0.8), rgba(0, 191, 255, 0.6)); /* Dunkler beim Hover */
}

/* Mobile Ansicht anpassen */
@media (max-width: 768px) {
  .App {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }

  h1 {
    font-size: 24px;
    padding: 8px;
  }

  .apple-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .button-icon {
    width: 18px;
    height: 18px;
  }
}
