body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-image: url('/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Für absolute Positionierung des Buttons */
  overflow: hidden; /* Verhindert Überlauf */
}

h1 {
  color: #333;
  font-family: Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.blend-button {
  background: rgba(255, 255, 255, 0.2); /* Weißer Hintergrund mit 20% Sichtbarkeit */
  border: 2px solid white; /* Basis-Randfarbe */
  color: white; /* Textfarbe */
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px; /* Runde Ecken */
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Abstand zwischen Icon und Text */
  mix-blend-mode: difference; /* Dynamischer Effekt */
  position: absolute; /* Ermöglicht Bewegung */
  z-index: 2; /* Über dem Hintergrund */
}

.blend-button:hover {
  border-color: #42A5F5; /* Leichter Farbwechsel beim Hover */
}

.button-icon, .blend-button span {
  filter: blur(1px); /* Leichter Blur-Effekt für Icon und Text */
}

.button-icon {
  width: 20px; /* Größe des SVG-Icons */
  height: 20px;
  vertical-align: middle;
}

/* Mobile Ansicht anpassen */
@media (max-width: 768px) {
  .App {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }

  h1 {
    font-size: 24px;
    padding: 8px;
  }

  .blend-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .button-icon {
    width: 18px;
    height: 18px;
  }
}
